<main class="Main">
	<div class="Main-content">
			<section class="Section Section--hero">
				<div class="Section-content u-inner">
					<h1>
						Content
						{{data.mydata}}
					</h1>
				</div>
			</section>
	</div>
</main>
